<% include ../head %>

<form action="/til/" method="POST">
  <label name ="slug">Slug</label>
</br>
  <input type="text" name="slug">

</br>
  <label name="body">Fact:</label>
</br>
<input type="text" name="body">
</br>
  <input type="submit">


</form>

<% include ../footer %>
