<% include ./tilhead %>

<h1><%=title%></h1>

<section id="fact">
   <h2><%= til_entry.slug%></h2>
   <p><%= til_entry.body%></p>
</section>
<div id="date">
  <p><b><%= til_entry.created_at%></b></p>
</div>
<% include ../footer %>
