<% include ../head %>

<form action="/til/<%=id%>" method="POST">
  <label name ="slug">Slug</label>
</br>
  <input type="text" name="slug" value="<%= til.slug%>">


</br>
  <label name="body">Fact:</label>
</br>
  <input type='text' name="body" value="<%= til.body %>">
</br>
  <input type="submit">

</form>

<% include ../footer %>
