<% include ../head %>
<h1><%=title%></h1>
<form action="/til/<%=id%>" method="POST">
  <label name ="slug">Slug</label>
</br>
  <input type="text" name="slug" value="<%= tilEntry.slug%>">


</br>
  <label name="body">Fact:</label>
</br>
  <input type='text' name="body" value="<%= tilEntry.body %>">
</br>
  <input type="submit">

</form>

<% include ../footer %>
