  <div id="footer">

      <p>all my fancy copyright info</p>

    </div>
  </div>
    <!-- anything in the body here will appear on every page, so it doesn't have to be redone -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- won't run until after the page loaded, if not it will wait -->
    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
